<launch>
  <env
        name="ROSCONSOLE_CONFIG_FILE"
        value="$(find beginner_tutorials)/config/logger_level.conf"
  />
  <arg
    name  ="freq"
    default = "10"
  />
  <arg
    name = "record"
    default = "disable"
  /> 
  <node
    name = "publisher"
    pkg = "beginner_tutorials"
    type = "talker"
    output = "screen" 
    args = "$(arg freq)"
  />
  <node
    name = "subscriber"
    pkg = "beginner_tutorials"
    type = "listener"
    output = "screen"
    launch-prefix = "gnome-terminal -e"
   />
   <node
    name = "rosbag"
    pkg = "rosbag"
    type = "record"
    args = "-a -O $(find beginner_tutorials)/Results/pub.bag"
    if = "$(eval record == 'enable')"
   />
</launch>
